nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 3rem 4rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-links li {
  margin: 2rem 0.5rem;
  list-style: none;
}

.nav-links li:not(:first-child) {
  border-left: 2px solid black;
  padding-left: 0.5rem;
}

.active {
  color: orangered;
}

.deactive {
  text-decoration: none;
}